@model dynamic

<div class="container white-container body-content" ng-controller="TinctureCtrl as tinctureCtrl">
    <div class="row">
        <div class="col-md-12">
            asdf
        </div>
    </div>
</div>

