<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section
            name="appSettings"
            type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            />
	</configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
	  
	  <add key="client:originUrl" value="http://localhost:49839" />
	  <add key="sts:originUrl" value="https://localhost:44300" />
	  <add key="api:originUrl" value="https://localhost:44300" />
	  
	  <add key="sts:clientId" value="authcode" />
	  <add key="sts:clientSecret" value="secret" />
	  
  </appSettings>
 

</configuration>
