@using Ideal.ViewPages
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>The Ideal Solution</h1>
        <p class="lead">
            Ideal is a free web framework for building great Web sites and Web applications using ASP.NET MVC, Entity Frameowrk, AngularJS and Bootstrap.
        </p>
        <p>
            <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            <h2>Features</h2>
            <ul>
                <li>Claims-Based Security</li>
                <li>Fully Unit Tested</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Technology</h2>
            <h4>Server-Side</h4>
            <ul>
                <li>ASP.NET MVC 4</li>
                <li>Autofac</li>
                <li>Entity Framework</li>
            </ul>
            <h4>Client-Side</h4>
            <ul>
                <li>AngularJS</li>
                <li>JQuery</li>
                <li>UnderscoreJS</li>
                <li>Bootstrap</li>
                <li>Font Awesome</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Architecture</h2>
            <p>.</p>
        </div>
        <div class="col-md-3">
            <h2>Infrastructure</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @SiteSettings.CompanyName</p>
    </footer>
</div>

