<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="MembershipReboot" connectionString="Server=(local);Database=RebootV1;trusted_connection=yes"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

</configuration>