<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="Ideal">
      <section name="Membership" type="Ideal.Membership.Configuration.MembershipConfiguration, Ideal.Membership" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <Ideal>
    <Membership
      multiTenant="false"
      defaultTenant="ideal"
      emailIsUsername="false"
      usernamesUniqueAcrossTenants="false"
      requireAccountVerification="true"
      allowLoginAfterAccountCreation="true"
      accountLockoutFailedLoginAttempts="1"
      accountLockoutDuration="2.01:01:01"
      accountLockoutMinutes="1"
      allowAccountDeletion="true"
      minimumPasswordLength="6"
      passwordResetFrequency="5"
      passwordHashingIterationCount="4"
      allowEmailchangeWhenEmailIsUsername="true"
      />
  </Ideal>
</configuration>